.oddp {
    background-color: salmon;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: #607ff3;
    font-size: 36px;;
}

.oddly-cool {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-size: 36px;
}