body {
    font-family: 'Courier New', Courier, monospace;
    color: fuchsia;
    margin: 8px;
 }
 
 .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background-color: bisque;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
 }

 .lside {
    align-content: center;
    align-items: center;
    justify-content: flex-start;


 }


 .rside {
    align-content: center;
    justify-content: center;
}

.logo  {
    font-style: italic;
    font-size: 60px;
    font-weight: bolder;
}



button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;

}

.profile-image {
    background-color: aqua;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

ul {
    list-style-type: none;
}